h1, h2 {
  color: #4d4d4d;
}

.personal-info {
  margin: 20px 0 0;
}

p {
  margin: 0 0 2px;
}

a {
  transition: color .4s;
  color: #246b8f;
}

a:link, a:visited {
  color: #246b8f;
}

a:hover {
  color: #7FDBFF;
}

a:active {
  transition: color .3s;
  color: #007BE6;
}

.link {
  text-decoration: none;
}

ul {
  -webkit-padding-start: 20px;
}

.horizontal-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.horizontal-navbar li {
    display: inline;
}
