.horitzontal-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.horitzontal-navbar li {
    display: inline;
}

.personal-info p {
  margin:0 0 2px;
}


.personal-info a {
  transition: color .4s;
  color: #265C83;
}

.personal-info a:link, a:visited {
  color: #265C83;
}

.personal-info a:hover {
  color: #7FDBFF;
}

.personal-info a:active {
  transition: color .3s;
  color: #007BE6;
}

.personal-info .link {
  text-decoration: none;
}
