<p>
Hey, I'm Simon.
</p>

<br>

<p>
I study Computer Science, but I also have a solid background in statistics, finance, economics and linguistics.
</p>

<br>

<p>
I'm interested in modeling emotions and their zen states; something something machine-human understanding.
<br>
Oh, and also engineering large data-intensive data-driven autonomous systems.
</p>

<br>

<!--
<p>
I'm looking for an internship for Winter 2018. I've interned at places like <a href="https://www.datadoghq.com/">Datadog</a>, <a href="https://www.shopify.ca/">Shopify</a> and <a href="http://ci.com/web/home.jsp">CI Investments</a>. Feel free to checkout out my <a href="#portfolio" onclick="show('portfolio')">portfolio</a>.
</p>
-->
