<p>
  <h3><a href="https://devpost.com/software/gestur">gestur</a></h3>
  Built at SpartaHack 2017, I wanted to make it easier for deaf people to
  communicate in public. We found a way to process low resolution video,
  work our own action respecting model into IBM Watson and make automated
  sign language recognition booths affordable.
  <br><br>
  Unfortunately, our demo failed at the final top 10 showdown and we only came
  in 3rd place. However, we did also win a few other awards.
</p>
<br>
<p>
  <h3><a href="https://www.youtube.com/watch?v=03u0Mi6cXgU">OpenSpace: Cassini module</a></h3>
  Built at the American Museum of National History Buildathon 2016,
  I collaborated with a team of 10 engineers to write and integrate the Cassini
  module into the <a href="http://openspaceproject.com/">OpenSpace</a> project.
  <br><br>
  I was in awe when the simulation was projected onto the Hayden Planetarium's dome.
</p>
<br>
<p>
  <h3><a href="/exploring-food-embeddings.pdf">Exploring Food Embeddings using SS-Voc Learning</a></h3>
  Submitted as a final project for STAT442/890 to prof. Ali Ghodsi. We studied
  the <a href="http://cs.brown.edu/~ls/Publications/cvpr2016fu.pdf">Semi-supervised
  Vocabulary Informed Learning (SS-Voc)</a> approach by Fu et al. and adapted it
  to the context of recipe classification.
  <br><br>
  First take at writing an academic publication. In hindsight, some parts are obscure.
</p>
<br>
<p>
  <h3><a href="https://devpost.com/software/watchr-1s3cqu">watchr</a></h3>
  Built at HackPrinceton 2016, I was saddened by the terror incidents in Europe
  and Asia and I wanted to take a shot at crowdsourcing public security. The gist
  of it was to use everyone's devices connected to the same public network
  (those locations being more likely to be targeted), and have them log abnormally
  loud noises (i.e.: bombings, shootings, screams, etc.) to a central server.
  The server would then cluster the logs by location, trace the epicenter of the
  incident, and issue evacuation instructions to the devices, personalized to their locations.
  <br><br>
  Before this project, I felt somewhat jaded. This served me as a reminder of the
  potential impact I can have on the perceived world.
</p>
